@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 500px;
  padding: 20px;
}

.login-page {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #f5e6ca);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  border-radius: 100px;
}

.container p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.3px;
  margin: 20px 0;
  text-align: center;
}

.container span {
  font-size: 12px;
  color: #666;
}

.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
  transition: 0.3s ease;
}

.container a:hover {
  color: #fe9e0d;
}

.container button {
  background-color: #fe9e0d;
  color: #fff;
  font-size: 13px;
  padding: 12px 50px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.container button:hover {
  background-color: #e88b00;
}

.container button.hidden {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: #f0f0f0;
  border: none;
  margin: 10px 0;
  padding: 12px 18px;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  transition: 0.3s ease;
}

.container input:focus {
  background-color: #fff;
  border: 1px solid #fe9e0d;
  box-shadow: 0 0 5px rgba(254, 158, 13, 0.5);
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  width: 42px;
  height: 42px;
  transition: 0.3s ease;
}

.social-icons a:hover {
  background-color: #fe9e0d;
  border-color: #fe9e0d;
  color: #fff;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 300px 0 0 300px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 250px 250px 0;
}
.toggle {
  background-color: #fe9e0d;
  height: 100%;
  width: 200%;
  position: relative;
  left: -100%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-50%);
}

.container.active .toggle-left {
  transform: translateX(50);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: #eeeeee;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.input-container .icon {
  font-size: 18px;
  color: #fe9e0d;
  margin-right: 12px;
}

.input-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
}

.input-container input:focus {
  border: 1px solid #fe9e0d;
  box-shadow: 0 0 5px rgba(254, 158, 13, 0.3);
}
